@charset "utf-8";

body{
    font-family: Arial, sans-serif;
    color: rgba(0,0,0,1);
}

div#interface{
    width: 1800px;
    margin-left: auto;
    margin-right: auto;
}
/*Cabecalho.*/

header#cabecalho img#logo{
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}
nav#menu{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border-top: 2px solid #d5d5d5;
    border-bottom: 2px solid #d5d5d5;

}
nav#menu ul{
    list-style: none;
    padding: 0px;
    margin: 0px;
    text-align: center;
}
nav#menu li, a{
    display: inline-block;
    text-transform: uppercase;
    font-family: Arial, sans-serif;
    font-size: 10pt;
    padding: 10px 15px 10px 15px;
    margin: 5px;
}
nav#menu a{
    color: #939393;
    text-decoration: none;
}
nav#menu a:hover{
    color: #383838;
    transition: 400ms;
    transition-property: color;
}

/*Corpo Noticias.*/

section#corpo{
    display: block;
    float: left;
    width: 1000px;
    margin: 0px 0px 0px 65px;
}
section#corpo article#noticias{
	margin-left: 300px;
    padding-bottom: 50px;
    padding-top: 50px;
    font-family: Arial, sans-serif;
    font-size: 14pt;
}
article#noticias h1, a{
    font-family: Arial, sans-serif;
    font-size: 18pt;
    color: #575757;
}
article#noticias a{
    text-decoration: none;
}
section#corpo h3{
    font-family: tahoma, sans-serif;
    font-size: 10pt;
    color: #ababab;
}
section#corpo p{
    font-family: Arial, sans-serif;
    font-size: 14pt;
}
article#noticias li{
    font-family: Arial, sans-serif;
    font-size: 14pt;
}

/*Area de publicidade*/

aside#lateral{
    display: block;
    float: right;
    width: 400px;
    height: 600px;
    background-color: #eaeaea;
    padding: 10px;
    margin: 50px 40px 0px 0px;
    box-shadow: 2px 2px 2px rgba(0,0,0,.5);
}
footer#rodape {
    clear: both;
    background-color: #d5d5d5;
    padding: 30px;
}

footer#rodape p {
    text-align: center;
}
